<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" media="screen and (min-device-width: 1441px)" href="/css/styles.css">
    <link rel="stylesheet" media="screen and (max-device-width: 1440px)" href="/css/mobstyles.css">
    <link rel="icon" href="001-cloud.png">

    <script src="https://kit.fontawesome.com/e6e2bca0e7.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="headerContainer">
        {{>header}}

    </div>
    <div>
        <br>
        <p class="helpPara">
            This website <strong style="color: rgb(111, 231, 111);">does not</strong> collect or store any sort of user
            data.
        </p>
        <br>
        <p class="helpPara1">
            The code is completely open source. You can check it out on <a
                href="https://github.com/Siddharth-Bhardwaj/weather-app" target="_blank"
                style="color: #7289da;"><strong>Github</strong></a> (any contributions are also welcome).
        </p>
        <p class="helpPara1">
            If you get a blank screen after searching for your city, please check the spelling entered in the search
            box.
        </p>
        <p class="helpPara1">Please enable JavaScript on your browser for the site to function properly, if in case you
            have disabled it.</p>
        <p class="helpPara1">
            If you have any queries, or anything seems broken, please reach out through <a
                href="mailto: siddharth.bhardwaj2051999@gmail.com" target="_blank"
                style="color: #7289da;"><strong>email</strong></a>
            or <a href="https://www.linkedin.com/in/siddharth-bhardwaj99" target="_blank"
                style="color: #7289da;"><strong>linkedin</strong></a>.
        </p>

        <p class="helpPara1">
            <strong style="color: rgb(255, 70, 70);">NOTE:</strong> API provided by <strong><a
                    href="https://openweathermap.org/api" target="_blank"
                    style="color: #7289da;">OpenWeatherMap</a></strong><br>
            Other than that, this is completely my own work.<br>
            <span>&#169;</span> Siddharth Bhardwaj, 2020
        </p>
    </div>
    {{>footer}}
</body>

</html>