<footer>
        <span class="footerIcon1">&#169; Siddharth Bhardwaj</span>

        <a href="https://steamcommunity.com/id/theofficialandroxus" target="_blank" id="footerIcon"><i
                        class="fa fa-steam" aria-hidden="true"></i></a>

        <a href="https://www.instagram.com/siddharthbhardwaj__/" target="_blank" id="footerIcon"><i
                        class="fa fa-instagram" aria-hidden="true"></i></a>


        <a href="mailto: siddharth.bhardwaj2051999@gmail.com" target="_blank" id="footerIcon"><i
                        class="fa fa-envelope-o" aria-hidden="true"></i>

                </i>
        </a>
        <a href="https://www.linkedin.com/in/siddharth-bhardwaj99" target="_blank" id="footerIcon"><i
                        class="fa fa-linkedin" aria-hidden="true"></i></a>

</footer>